.container-about {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--cor-clara-1); 
  }
  
  .about {
    text-align: center;
    max-width: 100vw;
    font-family: var(--fonte-principal);
    color: var(--cor-escura-2); 
  }
  
  .about-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .about-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .titulo-about {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5em;
    color: var(--cor-escura-1);
  }
  
  .about-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--cor-escura-2); 
  }
  

  .about-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-escura-2);
    background-color: var(--cor-media);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  
  .about-button:hover {
    opacity: 50%; 
  }
  
  .about-list i {
    font-size: 1.8rem;
    margin-right: 1rem;
    color: var(--cor-media);
  }
  
  .about-text-list{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .card-container {
    display: flex;
    gap: 1rem; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin-top: 2rem;
  }
  
  .card {
    background-color: var(--cor-media); 
    margin-bottom: 20px;
    border: 1px solid #ddd; 
    border-radius: 18px; 
    padding: 1.5rem;
    width: 300px; 
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .card i {
    font-size: 2rem;
    color: var(--cor-escura-1); 
    margin-bottom: 1rem;
  }
  .about-text-list-card {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  
  .about-text-card {
    font-size: 0.95rem;
    color: var(--cor-escura-1);
    line-height: 1.6;
  }

  @media (max-width: 768px) {
    .card {
      width: 100%; 
    }
  }