.body-vol {
    background-color: var(--cor-animal-clara-1);
    height: 100vh;
    font-family: var(--fonte-primaria);
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-self: center;
    line-height: 1.5em;
    padding: 0.5em 1em;
    font-family: var(--fonte-primaria);
}

input, #estado {
    border-radius: 1em;
    border: 1px solid var(--cor-escura-1);
    font-family: var(--fonte-primaria);
}

label {
    font-size: 0.85em;
    font-family: var(--fonte-primaria);
}

h1, .titulovol {
    margin: 1em;
    font-size: 1.5rem;
    text-align: center;
    color: var(--cor-label-ext4);
    font-weight: 600;
    font-family: var(--fonte-primaria);
}

input {
    line-height: 2em;
}

#btnGerar {
    margin-top: 0.625em;
    height: 2.5em;
    background-color: #597814;
    color: white;
    border-radius: 15%;
    width: min-content;
    text-align: center;
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

form {
    margin-bottom: 1.25rem;
}

.cadastro {
    width: 50vw;
    align-items: center;
    display: block;
}

.boxcad, .boxcad-login  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxcad-login {
    height: 30vh;
    margin-bottom: 8em;
}

.conteudo {
    display: flex;
}

.tituloregistro, .titulologin {
    font-size: 1.5rem;
    margin: 0.5em 0;
}

legend {
    margin:0;
}

footer {
    position: relative;
    bottom: 0;
}

.login-img {
    width: 125%;
}

