:root {
    --cor-branco-principal: #f6f6f6;
    --cor-branco-frio: hsl(0, 0%, 100%);
    --cor-clara-1: #F2E1CD;
    --cor-clara-2: #D7B68B;
    --cor-media: #9F7541;
    --cor-escura-1:#3E2111;
    --cor-escura-2:#19090A;
    --cor-verde-escuro: #163513;
    --fonte-primaria: "Poppins", sans-serif;
  }
body{
    background-color: var(--cor-clara-2);
}
fieldset{
    display: flex;
    flex-direction: column;
    line-height: 2em;
    padding-left: 10vw;
    padding-right:10vw
}
header, header h1{
    display: block;
    text-align: center;
    margin:5vw;
    font-size: 5vw;
}
input{
    line-height: 2em;
}

#btnGerar{
    margin-top: 0.625em;
    height: 2.5em;
    background-color: #597814;
    color: white;
    border-radius: 15%;
    width: min-content;
    text-align: center;
}

form{
    margin-bottom: 1.25rem;
}