.carousel {
    position: relative;
    width: 100%; /* Garante que o carrossel ocupa toda a largura */
    overflow: hidden; /* Esconde itens fora da área visível */
    display: flex;
    flex-direction: column; /* Alinha bullets abaixo do carrossel */
    z-index: 1;
}


.carousel-list {
    display: flex;
    overflow-x: scroll; /* Habilita a rolagem horizontal */
    overflow-y: hidden; /* Impede rolagem vertical */
    scroll-behavior: smooth; /* Suaviza a rolagem */
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    -ms-overflow-style: none; /* Remove scrollbar no IE e Edge */
    scrollbar-width: none; /* Remove scrollbar no Firefox */
}

.carousel-item {
    flex: 0 0 auto; /* Itens não se expandem além de seu tamanho */
    width: 70%; /* Exemplo: ajuste o tamanho conforme necessário */
    height: 50%;
}

