
.hdr, .hdr-mobile, .hdr-desktop, .hamburguer-button, .nav-menu, .menu, .menu-item {
  font-family: var(--fonte-primaria);
  color: var(--cor-branco-principal);
  background-color: var(--cor-escura-2);
  list-style: none;
  position:relative;
  padding: 0.15em;
} 

.menu {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 0;
  width: 100vw;
}

.hamburguer-button .icon {
  display: inline-block;
  width: 10%;
  height: 10%;
  text-align: center;
  padding: 0.5em;
}

.hamburguer-button[aria-expanded="false"] .icon::before {
  content: "\2630";
}

.hamburguer-button[aria-expanded="true"] .icon::before {
  content: "\2715";
}

.hamburguer-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: none;
  text-align: center;
}

.menu-item, .menu-item a{
  display: block;
  padding: 0.5em;
}

.menu-item a:hover, .menu-item a:focus {
  background-color: var(--cor-escura-2-hover);
  padding: 0.5em; 
}


.hdr-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hdr-desktop {
  display: none;
}

.hamburguer-button-js-enabled + .menu {
  display: flex;
  position: absolute;
  width: 60%;
  right: 0;
  top: 2.8em;
  flex-direction: column;
}

.hamburguer-button-js-enabled + .menu-closed {
  display: none;
}

.hamburguer-button-js-enabled{
  display: block;
}

.title-principal {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  color: var(--cor-branco-principal);
}

.hdr-logo {
  height: 10%;
  width: 10%;
  border-radius: 50%;
}

@media screen and (min-width: 380px) {

  .hdr-mobile   {
    justify-content: space-evenly;
  } 

  .hdr-mobile-item {
    margin: 0.5em 0.75em;
  } 

  .title-principal {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 700px) {
  .hdr-mobile {
    padding: 0.5em;
    justify-content: space-around;
  }

  .hdr-mobile-item {
    margin: 0.5em;
  }

  .hamburguer-button-js-enabled + .menu {
    top: 6em;
  }

  .title-principal {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 900px) {
  .hdr-mobile {
    display: none;
  }

  .hdr-desktop {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
  }

  .hdr-logo {
    height: 6%;
    width: 6%;
    border-radius: 50%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .menu-dkt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.5em;
  }

  .menu-item-dkt {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0.65em;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1000px) {
  .hdr-mobile {
    display: none;
  }

  .hdr-desktop {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
  }

  .hdr-logo {
    height: 6%;
    width: 6%;
    border-radius: 50%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .menu-dkt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.5em;
  }

  .menu-item-dkt {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin: 0 0.65em;
  }
}

@media screen and (min-width: 1200px) {

  .menu-item-dkt {
    font-size: 1.75rem;
    margin: 0 0.675em;
  }

}

@media screen and (min-width: 1400px) {

  .menu-item-dkt {
    font-size: .85rem;
    margin: 0 1em;
  }

}