@import url("../src/static/header.css");
@import url("../src/static/about.css");

:root {
  --cor-branco-principal: #f6f6f6;
  --cor-branco-frio: hsl(0, 0%, 100%);
  --cor-clara-1: #F2E1CD;
  --cor-clara-2: #D7B68B;
  --cor-media: #9F7541;
  --cor-escura-1:#3E2111;
  --cor-escura-2:#19090A;
  --cor-verde-escuro: #163513;
  --cor-escura-2-hover: #4414178f;
  --fonte-primaria: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container, .lista__conheca__item,
.programas, .card  {
  box-sizing: border-box;
}

.container,.principal,.programas,
.botao__aliado, .botao__about {
  padding: 0.5em;
}

.titulo__conheca, .titulo__programas {
  padding: 0.25em;
}

.texto__principal, .lista__conheca,
.lista__conheca__item {
  margin: 0.25em;
}

.container, .conheca {
  height: 40vh;
}

.container,.principal,
.programas, .aliado, .paragrafo_descr {
  width: 100vw;
}

.subtitulo__programas, .botao__about,
.titulo__conheca, .container,.principal,.programas,
.botao__aliado, .botao__about,
.titulo__principal_desktop {
  font-family: var(--fonte-primaria);
}

.titulo__conheca,.titulo__programas, 
.titulo__aliado,.lista__conheca__item__titulo,
.botao__aliado, .lista__conheca__item__titulo, 
.botao__aliado, .titulo__principal_desktop{
  font-weight: 600;
}

.titulo__conheca, .titulo__programas, 
.titulo__aliado, .lista__conheca__item__titulo, 
.botao__aliado, .titulo__principal_desktop {
  font-size: 1.25rem;
  text-align: center;
}

.texto__principal, .subtitulo__programas {
  font-size: 1rem;
}

.subtitulo__programas, 
.botao__aliado, .botao__about,
.container, .principal, 
.programas, .titulo__principal_desktop {
  color: var(--cor-branco-principal);
}

.conheca, .aliado {
  color: var(--cor-escura-2);
}

.botao__aliado, .botao__about {
  border-radius: 0.5em;
  border-color: transparent;
}

.lista__conheca__item, .card {
  background-color: var(--cor-media);
  border-radius: 1em;
}

.programas__item__imagem, .voluntarios_imagem {
  border-radius: 1em;
}

.container, .botao__aliado {
  background-color: var(--cor-escura-1);
}

.titulo__conheca, .titulo__programas {
  padding-bottom: 0;
}

.titulo__principal_desktop {
  display: none;
}

.container__imagem__home {
  background-image: url("../src/assets/images/Animais/mamifero/jaguatirica/jaquatirica_home.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

.botao__about {
  background-color: var(--cor-verde-escuro);
  position: relative;
  margin: 18em 0 0 1em;
}

.container {
  display: block;
  align-items: center;
}

.principal {
  height: 35vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.texto__principal {
  text-align: center;
}

.conheca {
  background-color: var(--cor-clara-1);
}

.lista__conheca {
  display: flex;
  justify-content: space-between;
}

.lista__conheca__item {
  display: block;
  width: 10em;
  height: 10m;
  padding: 1em;
  text-align: center;
}

.lista__conheca__item__titulo {
  padding-top: 0.5em;
  margin-top: 0.5em;
  text-align: center;
}

.lista__conheca__item__imagem {
  height: 70%;
  width: 80%;
}

.programas {
  display: block;
  height: 165vh;
  align-items: center;
  justify-content: center;
}

.lista__programas {
  display: flex;
  flex-direction: column;
}

.card {
  display: block;
  text-align: center;
  height: 15em;
  width: 80%;
  padding: 0.5em 0.25em;
  margin: 0.5em auto;
}

.programas__item__imagem {
  width: 80%;
  height: 70%;
  margin: 0.5em 0;
}

.subtitulo__programas {
  font-weight: 500;
}

.aliado {
  display: block;
  align-items: center;
  text-align: center;
  height: 75vh;
  background-color: var(--cor-clara-2);
}

.titulo__aliado {
  margin-bottom: 0.5em;
}

.voluntarios_imagem {
  width: 90%;
}

.botao__aliado {
  text-align: center;
  width: 70%;
  margin: 0.5em;
}

@media screen and (min-width: 380px) {

  .titulo__conheca, .titulo__programas {
    padding: 0.5em;
  }
  
  .container, .conheca {
    height: 35vh;
  }
  
  .lista__conheca__item, .card {
    background-color: var(--cor-media);
    border-radius: 1em;
  }
  
  .texto__principal, .lista__conheca, 
  .lista__conheca__item, .botao__aliado {
    margin: 0.5em;
  }

  .titulo__conheca, .titulo__programas,
  .titulo__aliado {
    font-size: 1.5rem;
  }

  .subtitulo__programas, .botao__aliado {
    font-size: 1.25rem;
  }
  
  .container__imagem__home {
    height: 40vh;
  }
  
  .botao__about {
    margin: 20em 0 0 0.75em;
  }

  .principal {
    height: 30vh;
    max-width: 100vw;
  }

  .programas {
    height: 180vh;
  }
  
  .card {
    height: 20em;
    padding: 1em 0.5em;
    margin: 1em auto;
  }
  
  .programas__item__imagem {
    width: 90%;
    height: 80%;
  }
  
  .aliado {
    height: 60vh;
  }
}

@media screen and (min-width: 400px) {
 
  .subtitulo__programas, .botao__aliado, 
  .texto__principal  {
    font-size: 1.125rem;
  }

  .container, .conheca {
    height: 40vh;
  }

  .principal {
    height: 35vh;
  }

  .programas {
    height: 165vh;
  }

  .voluntarios_imagem {
    margin-bottom: 1em;
  }
    
}

@media screen and (min-width: 430px) {
 
  .subtitulo__programas, .botao__aliado, 
  .texto__principal  {
    font-size: 1.25rem;
  }

 .programas {
   height: 165vh;
 }

 .aliado {
  height: 65vh;
}   
}

@media screen and (min-width: 500px) {

  .titulo__conheca, .titulo__programas, 
  .titulo__aliado {
    font-size: 1.5rem;
  }
 
  .subtitulo__programas, .botao__aliado, 
  .texto__principal {
    font-size: 1rem;
  }

  .botao__about {
    margin: 30em 0 0 0.75em;
  }

  .lista__conheca {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  .programas {
    height: 165vh;
  }

  .programas {
    display: block;
    height: 90vh;
  }
  
  .lista__programas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    display: block;
    text-align: center;
    height: 15em;
    width: 45%;
  }

  .voluntarios_imagem {
    margin-bottom: 1em;
  }

  .container__imagem__home {
    height: 65vh;
  }

  .voluntarios_imagem {
    width: 80%;
  }
  
  .botao__aliado {
    box-sizing: content-box;
    text-align: center;
    width: 20%;
  }
    
}

@media screen and (min-width: 700px) {

.texto__principal, .titulo__aliado {
  padding: 0.5em;
}

.container, .conheca {
  box-sizing: border-box;
  height: 45vh;
  max-width: 100vw;
}

.container__imagem__home, .aliado {
  height: 65vh;
}

.card, .aliado {
  background-color: var(--cor-clara-2);
}

.titulo__conheca, 
.titulo__programas, .lista__conheca__item__titulo {
  font-size: 2rem;
}

.botao__about {
  font-size: 1.5rem;
  margin: 22em 0 0 2em;
  width: 30%;
}

.principal {
  height: 35vh;
  background-image: url("../src/assets/images/Vetores/—Pngtree—jaguar\ or\ leopard\ seamless\ pattern_1166421.png");
  background-repeat: repeat;
  background-size: contain;

}

.texto__principal {
  text-align: center;
  border-radius: 1em;
  background-color: var(--cor-escura-2);
  font-size: 1.65rem;
}

.lista__conheca__item {
  width: 15em;
  height: 10m;
  padding: 1em;
  text-align: center;
}

.programas {
  display: block;
  height: 60vh;
}

.card  {
  margin: 0.5em;
}

.programas__item__imagem {
  width: 80%;
  height: 70%;
  margin: 0.5em 0;
}

.subtitulo__programas {
  color: var(--cor-escura-2);
}

.aliado {
  display: block;
  align-items: center;
  text-align: center;
}

.titulo__aliado {
  font-size: 2.5rem;
}

.botao__aliado {
  font-size: 1.25rem;
}
}

@media screen and (min-width: 1000px) {

  .botao__about {
    font-size: 1.85rem;
    margin: 25em 0 0 2em;
    width: 20%;
    padding: 0.5em;
  }

  .paragrafo_descr {
    background-color: var(--cor-escura-2);
    padding: 1em;
    margin: 1em;
    width: 90vw;
    border-radius: 1em;
  }

  .texto__principal {
    font-size: 1.85rem;
  }

  .titulo__principal_desktop {
    display: block;
    font-size: 2.5rem;
  }

  .container, .conheca {
    box-sizing: border-box;
    height: 35vh;
    max-width: 100vw;
  }

  .programas {
    display: block;
    height: 70vh;
  }
}
