:root {

  /* Paleta de cores */
  --cor-branco-principal: #f6f6f6;
  --cor-branco-frio: hsl(0, 0%, 100%);
  --cor-clara-1: #F2E1CD;
  --cor-clara-2: #D7B68B;
  --cor-media: #9F7541;
  --cor-escura-1:#3E2111;
  --cor-escura-2:#19090A;
  --cor-verde-escuro: #163513;
  /*Fonte*/
  --fonte-primaria: "Poppins", sans-serif;

}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

article{
  margin-left: 5vw;
  margin-right: 5vw;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/*Mobile*/
/*Cabeçalho*/

.cabecalho__mobile {
  background-color: var(--cor-escura-2);
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
} 

.cabecalho__mobile__item {
  margin: 0.5em 0.75em
}

.cabecalho__logo {
  height: 15%;
  width: 15%;
  border-radius: 50%;
}

/*Imagem e descrição*/


.container__imagem__home {
  background-image: url("../src/assets/images/Animais/jaguatirica/jaquatirica_home.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.botao__about {
  font-family: var(--fonte-primaria);
  color: var(--cor-branco-frio);
  background-color: var(--cor-verde-escuro);
  padding: 0.5em;
  position: relative;
  margin-top: 17em;
  margin-left: 1em;
  border-radius: 0.5em;
}

.container {
  height: 45vh;
  background-color: var(--cor-escura-1);
  width: 100vw;
  font-family: var(--fonte-primaria);

}

.principal {
  color: var(--cor-branco-principal);
}


.titulo__principal {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5em;
  padding-bottom: 0;
}

.texto__principal {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding: 0.75em;
  margin: 1em;
  background-color: var(--cor-media);
  border-radius: 1.25em;
}



