<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="../index.css"/>
    <link rel="stylesheet" href="../reset.css"/>
    <link rel="stylesheet" href="./animais_regioes.html">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
  </head>
  <body>
    <header>
      <nav class="hdr">
        <div class="hdr-mobile">
          <img class="hdr-mobile-item hdr-logo" src="src\assets\images\logoIJ.png" >
          <h1 class="title-principal">Instituto Jaguatirica</h1>
          <button id="hamburguer-button" class="hamburguer-button" aria-label="Menu Principal" aria-controls="menu">
            <span class="icon"></span>
          </button>
          <ul id="menu" class="menu">
            <li class="menu-item"><a href="#">Home</a></li>
            <li class="menu-item"><a href="#">Sobre Nós</a></li>
            <li class="menu-item"><a href="#">Programas</a></li>
            <li class="menu-item"><a href="#">Animais</a></li>
            <li class="menu-item"><a href="#">Voluntariado</a></li>
            <li class="menu-item"><a href="#">Doações</a></li>
          </ul>
        </div>
        <div class="hdr-desktop">
          <img class="hdr-desktop-item hdr-logo" src="src\assets\images\logoIJ.png" >
          <ul id="menu-dkt" class="menu-dkt" aria-hidden="true">
            <li class="menu-item-dkt"><a href="#">Home</a></li>
            <li class="menu-item-dkt"><a href="./src/templates/about.html">Sobre Nós</a></li>
            <li class="menu-item-dkt"><a href="./src/templates/program.html">Programas</a></li>
            <li class="menu-item-dkt"><a href="#">Animais</a></li>
            <li class="menu-item-dkt"><a href="./src/templates/cadastro_voluntario.html">Voluntariado</a></li>
            <li class="menu-item-dkt"><a href="#">Doações</a></li>
          </ul>
        </div>
      </nav>
    </header> 
    <h2>Nossos animais e seus habitats!</h2>
    <h3>Amazônia</h3>
    <p>
      <ul>
        <li>'Yara', 'Peixe-boi', 'Fêmea', 'Mamífero','Trichechus inunguis',  '2023-01-09', 'Ameaçado'</li>
        <li>'Fuleco', 'Tatu-canastra', 'Macho', 'Mamífero','Priodontes maximus', '2023-01-07', 'Ameaçado'</li>
        <li>'Iporã', 'Jabuti-tinga', 'Macho', 'Réptil','Chelonoidis denticulatus','2023-01-05', 'Ameaçado'</li>
      </ul>
    </p>
    <h3>Cerrado</h3>
    <p>
      <ul>
        <li>('Jade', 'Ararinha-azul', 'Fêmea', 'Ave', 'Cyanopsitta spixii', '2023-01-02', 'Extinto na Natureza'),</li>
        <li>('Tande', 'Tamanduá-bandeira', 'Macho', 'Mamífero', 'Myrmecophaga tridactyla', 'Cerrado', '2023-01-04', 'Vulnerável'),</li>
        <li>('Guarati', 'Lobo-guará','Macho', 'Mamífero', 'Chrysocyon brachyurus', 'Cerrado', '2023-01-06', 'Vulnerável'),</li>
      </ul>
    </p>
    <h3>Mata Atlântica</h3>
    <p>
      <ul>
        <li>Juma, onça-pintada, fêmea, Mamífero, Panthera onca, 2023-01-01, Ameaçado</li>
        <li>Taru, Mico-leão-dourado, Macho, Mamífero, Leontopithecus rosalia, 2023-01-03, Ameaçado,</li>
        <li>Sombra, Gato-do-mato, Macho, Mamífero, Leopardus wiedii, 2023-01-08, Vulnerável</li>
        <li>Pitanga, Jaguatirica, Fêmea, Mamífero, Leopardus pardalis, 2023-01-10, Ameaçado</li>
      </ul>
    </p>
    <script src="menu.js"></script>
  </body>