<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="../assets/images/logoIJ.png" />
    <link rel="stylesheet" href="../index.css"/>
    <link rel="stylesheet" href="../reset.css"/>
    <link rel="stylesheet" href="./animais_regioes.html">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../index.js"></script>
    <title>IJ</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="./../../index.html"><img src="../assets/images/logoIJ.png"></a>
      <div class="putz">
        <a href="./about.html" class="active">Sobre nós</a>
        <a href="./programas.html">programas</a>
        <a href="./cadastro_voluntario.html">voluntariado</a>
        <div class="dropdown">
          <button class="dropbtn">animais
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./animais_regioes.html">Região</a>
            <a href="./animais_especies.html">Taxonomia</a>
          </div>
        </div>
        <a href="./doacao.html">doações</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </div>
    <h2>Nossos animais e seus habitats!</h2>
    <h3>Amazônia</h3>
    <p>
      <ul>
        <li>'Yara', 'Peixe-boi', 'Fêmea', 'Mamífero','Trichechus inunguis',  '2023-01-09', 'Ameaçado'</li>
        <li>'Fuleco', 'Tatu-canastra', 'Macho', 'Mamífero','Priodontes maximus', '2023-01-07', 'Ameaçado'</li>
        <li>'Iporã', 'Jabuti-tinga', 'Macho', 'Réptil','Chelonoidis denticulatus','2023-01-05', 'Ameaçado'</li>
      </ul>
    </p>
    <h3>Cerrado</h3>
    <p>
      <ul>
        <li>('Jade', 'Ararinha-azul', 'Fêmea', 'Ave', 'Cyanopsitta spixii', '2023-01-02', 'Extinto na Natureza'),</li>
        <li>('Tande', 'Tamanduá-bandeira', 'Macho', 'Mamífero', 'Myrmecophaga tridactyla', 'Cerrado', '2023-01-04', 'Vulnerável'),</li>
        <li>('Guarati', 'Lobo-guará','Macho', 'Mamífero', 'Chrysocyon brachyurus', 'Cerrado', '2023-01-06', 'Vulnerável'),</li>
      </ul>
    </p>
    <h3>Mata Atlântica</h3>
    <p>
      <ul>
        <li>Juma, onça-pintada, fêmea, Mamífero, Panthera onca, 2023-01-01, Ameaçado</li>
        <li>Taru, Mico-leão-dourado, Macho, Mamífero, Leontopithecus rosalia, 2023-01-03, Ameaçado,</li>
        <li>Sombra, Gato-do-mato, Macho, Mamífero, Leopardus wiedii, 2023-01-08, Vulnerável</li>
        <li>Pitanga, Jaguatirica, Fêmea, Mamífero, Leopardus pardalis, 2023-01-10, Ameaçado</li>
      </ul>
    </p>
  </body>