<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="jpg" href="../assets/images/logoIJ.png" />
  <link rel="stylesheet" href="../index.css" />
  <link rel="stylesheet" href="../reset.css" />
  <link rel="stylesheet" href="../static/cadastro_voluntario.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="../../index.js"></script>
  <title>IJ</title>
</head>

<body>
  <div class="topnav" id="myTopnav">
    <a href="./../../index.html"><img src="../assets/images/logoIJ.png"></a>
    <div class="putz">
      <a href="./about.html" class="active">Sobre nós</a>
      <a href="./programas.html">programas</a>
      <a href="./cadastro_voluntario.html">voluntariado</a>
      <div class="dropdown">
        <button class="dropbtn">animais
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="./animais_regioes.html">Região</a>
          <a href="./animais_especies.html">Taxonomia</a>
        </div>
      </div>
      <a href="./doacao.html">doações</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
  </div>
  <header>
  <h1><i>Vem ser voluntário!</i></h1>
</header>
  <form name="cadastro">
    <fieldset>
      <legend>Voluntário</legend>
      <label for="nome">
        Nome:
      </label>
      <input type="text" id="nome" name="nome" />
      <label for="cpf">
        cpf:
      </label>
      <input type="text" id="cpf" name="cpf" />
      <label for="endereco">
        endereço:
      </label>
      <input type="text" id="endereco" name="endereco" />
      <label for="cidade">
        cidade:
      </label>
      <input type="text" id="cidade" name="cidade"/>
      <label for="estado">
        estado:
      </label>
      <select id="estado" name="estado">
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
        <option value="EX">Estrangeiro</option>
    </select>
      <label for="email">
        email:
      </label>
      <input type="email" id="email" name="email" />
      <input type="button" id="btnGerar" value="Enviar" onclick="envioVoluntario()"/>
    </fieldset>
  </form>

</body>